---

---
<nav class="">
    <div class="container mx-auto ">
      <div class="flex justify-between items-center py-4 h-20">
        <a class="text-xl font-bold" href="#">Guantes Randon</a>
        <button class="block lg:hidden focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
        <div class="hidden lg:flex lg:items-center lg:w-auto" id="navbarNav">
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="nav-item">
              <a class="px-4 py-2 text-gray-700 font-semibold" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="px-4 py-2 text-gray-700" href="#">Empresa</a>
            </li>
            <li class="nav-item">
              <a class="px-4 py-2 text-gray-700" href="#">Catálogo</a>
            </li>
            <li class="nav-item">
              <a class="px-4 py-2 text-gray-700" href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  